.sidebar {
  /*background-color: lightgrey;*/
  width: 100%;
  height: 100vh;
}

.sidebar:before {
  background-color: lightblue;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-repeat: repeat;
  background-position: 50% 0;
  /*background-image: url(../images/large-apple.png);*/
}

/*.right-side {
  background-color: lightgrey;
  width: 100%;
  height: 100vh;
}*/
/*.left-side {
  background-color: lightblue;
}*/

/*.left-side:before {
  background-color: lightblue;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-repeat: repeat;
  background-position: 50% 0;
  background-image: url(../images/large-apple.png);
}*/


.homework {
  height: 100vh;
}

.homework:before {
  background-color: lightblue;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-repeat: repeat;
  background-position: 50% 0;
  background-image: url(../images/large-apple.png);
}

.subject {
  height: 100vh;
}

.subject:before {
  background-color: lightblue;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-image: url(../images/math-clip-art.jpg);
  background-repeat: repeat;
  background-position: 50% 0;
}


.teacher {
  height: 100vh;
}

.teacher:before {
  background-color: lightblue;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-image: url(../images/education.jpg);
  background-repeat: repeat;
  background-position: 50% 0;
}



